body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

.back-button {
    position: fixed;
    top: 1rem;
    left: 1rem;
    background-color: #3BAFDA;
    color: white;
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: clamp(1rem, 2vw, 1.5rem);
    cursor: pointer;
    z-index: 100;
    animation: bounce-subtle 0.7s infinite;
}

.back-button:hover {
    filter: brightness(1.1);
    animation: scale-up-center 0.3s;
}

.branding-panel {
    flex: 1;
    background-color: #044E54;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo {
    width: 50%;
    padding: 1rem;
}

.login-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
}

h1 {
    color: #333;
    font-size: clamp(1rem, 2vw, 1.5rem);
    text-align: center;
    width: 100%;
}

.input-group {
    display: flex;
    margin-bottom: 1rem;
}

input {
    width: 100%;
    font-size: clamp(1rem, 2vw, 1.5rem);
    padding: 1rem;
    border: 1px solid #333;
    border-radius: 0.5rem;
}

.login-button {
    display: box;
    width: 100%;
    padding: 1rem;
    background-color: #3BAFDA;
    color: white;
    align-self: center;
    border: none;
    border-radius: 0.5rem;
    font-size: clamp(1rem, 2vw, 1.5rem); /* Tamaño dinámico */
    cursor: pointer;
}

.login-button:hover {
    filter: brightness(1.1);
    animation: scale-up-center90 0.3s;
}

.social-login-text {
    color: #666;
    font-size: clamp(1rem, 2vw, 1.5rem);
}

.social-icons {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1.5rem;
}

.social-icons img {
    width: 2.5rem; /* Aumenta el tamaño */
    height: 2.5rem;
    border-radius: 50%;
    cursor: pointer;
}

.social-icons img:hover {
    animation: scale-up-center90 0.3s;
}

@media (width < 576px) {
    .container {
        flex-direction: column;
    }

    .branding-panel {
        flex: 0;
    }

    .logo {
        width: 30%;
    }
}